.sidebar {
    position: fixed;
    top: 72px;
    left: 0;
    width: 20%;
    height: 100%;
}
a {
    text-decoration: none;
    color: inherit;
}
.sidebar > hr {
    background-color: lightgray;
    height: 1px;
    border: 0;
    margin: 10px 0px;
}
@media screen and (max-width : 600px) {
    .sidebar {
        transform: translate(-100%);
        transition: all 0.3s ease;
        opacity: 0;
    }
    .sidebar-active {
        display: block;
        z-index: 100;
        background-color: white;
        width: 60%;
        transform: translate(0%);
        opacity: 1;
    }
}